body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.topsy {
	float: left;
	width: 33%;
	padding: 12px;
}

.turvy {
	float: right;
	width: 33%;
	padding: 12px;
}